; Credential to use OVH API.
; https://api.ovh.com

application_key    = 
application_secret = 
consumer_key       = 

; retry if last backup is more than X hours
max_age_backup = 12;

; how to retrieve backups ?
; possible values : wget,fopen
backup_method = wget

